$mainFont: 'Open Sans', ;
$fontBody: 'Open Sans';

$colorPaletteOne1: #114e4e;
$colorPaletteOne2: #438792;
$colorPaletteOne3: #a2deaf;
$colorPaletteTwo1: #420101;
$colorPaletteTwo2: #bd1010;
$colorPaletteTwo3: #e95626;
$colorPaletteThree1: #3e5b65;
$colorPaletteThree2: #eab052;
$colorPaletteThree3: #a0c0cf;
$colorPaletteFour1: #f38181;
$colorPaletteFour2: #00dffc;
$colorPaletteFour3: #fce38a;