@import 'base/reset';
@import 'base/structure';
@import 'utils/mixins';
@import 'utils/variables';
@import 'layouts/dark-mode';
@import 'layouts/header';
@import 'layouts/main';
@import 'layouts/forms-general';
@import 'layouts/collapsables';
@import 'layouts/form-design';
@import 'layouts/form-fill';
@import 'components/forms';
@import 'components/camera';
@import 'layouts/form-share';
@import 'layouts/preview';
@import 'layouts/footer';
