@import 'base/reset';
@import 'utils/mixins';
@import 'utils/variables';
@import 'layouts/footer';
@import 'layouts/form-design';
@import 'layouts/form-fill';
@import 'layouts/form-share';
@import 'layouts/header';
@import 'layouts/preview';



.App{
  margin:50px;
  padding: 10px;
  border: solid 2px greenyellow;
}