@import "base/reset";
@import "utils/mixins";
@import "utils/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-index {
  width: 100%;
}

.hero-container {
  height: 458px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;

  @include forTablet {
    height: 963px;
    height: 90vh;
  }
}

.landing-logo {
  width: 300px;

  @include forTablet {
    width: 419px;
  }
   
}

.landing-text {
  h1 {
    font-family: $fontLandingTitle;
    font-size: 19.2px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $colorIcons;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 35.4px;
    @include text-capitalize;

    @include forTablet {
      font-size: 24px;
    }
  }

  p {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    padding-bottom: 17.8px;
    width: 264.8px;
    @include text-capitalize;

    @include forTablet {
      font-size: 16px;
      width: 331px;
      height: 48px;
    }
  }
}

.landing-options {
  width: 268px;
  height: 73.8px;
  border: 1.6px solid rgba(225, 115, 52, 0.21);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  list-style-type: none;
  margin-top: 38.6px;

  @include forTablet {
    width: 325px;
    height: 86px;
    border: 2px solid rgba(225, 115, 52, 0.21);
    border-radius: 5px;
    margin-top: 27px;
  }

  & .landing-options-icon {
    font-size: 22.4px;
    color: $colorIcons;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;

    @include forTablet {
      font-size: 28px;
    }
  }

  & .landing-options-text {
    @include text-capitalize;

    @include forTablet {
      font-size: 16px;
    }
  }
}

.landing-start {
  text-decoration: none;
  font-family: $fontBody;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  @include text-uppercase;
  height: 42px;
  width: 129px;
  background-color: #438792;
  border-radius: 21px;
  margin-top: 38.6px;
  line-height: 42px;
}

////////////////////4LOOPS LOGO

$dash-array: 260;
$stroke-width: 10;
$anim-speed: 2500ms;
$dark-theme: #1d1e22;
$light-theme: #ffffff;
$colors: #f38181, #fce38a, #e23e57, #95e1d3, #ffc4d0, #00dffc;

.page-content {
  display: flex;
  justify-content: space-between;
  transition: background-color 200ms;
  width: 89px;
  position: absolute;
  right: 0px;
}

.loop__container {
  position: absolute;
  left: 33px;
  top: -2px;
}

// Infinity elements
.infinity {
  height: 24px;

  path {
    fill: none;
    stroke-width: $stroke-width;
    transform-origin: 50% 50%;
  }
}

.infinity__outline {
  stroke: transparent;
  animation: hover $anim-speed * 4 linear infinite;
  transition: opacity 600ms;
}

.infinity__tracer {
  stroke-linecap: round;
  opacity: 0.8;
  animation: tracer $anim-speed linear reverse infinite;

  @each $c in $colors {
    $i: index($colors, $c);
    $s: ($anim-speed / $i * length($colors));
    $d: (-$anim-speed / $i * length($colors) * 0.66);

    &--#{$i} {
      stroke: $c;
      animation-duration: $s;
      animation-delay: $d;
    }
  }
}

// Animations
@keyframes tracer {
  0% {
    stroke-dasharray: 0, $dash-array;
    stroke-dashoffset: -$dash-array * 0.9;
  }
  25% {
    transform: translate(-2px, 2px);
  }
  50% {
    stroke-dasharray: $dash-array / 6, $dash-array;
    stroke-dashoffset: -$dash-array * 0.3;
  }
  65% {
    transform: translateX(2px, -2px);
  }
  100% {
    stroke-dasharray: 4, $dash-array;
    stroke-dashoffset: 0;
  }
}

@keyframes hover {
  50% {
    transform: translateY(2px) scale(1.02);
  }
}
