
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.panel__coll:hover {
  background-image: $colorBackgroundImage;
}
.panel__coll:after {
  font-family: "Material Icons";
  content: "\e316";
  transform: rotate(180deg);
  transition: all 0.1s;
  color: $colorBody;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  transform: scale(1) !important;
  transition: all 0.7s !important;
  color: #e25345 !important;
}
