.panel {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
  
    @include forTablet {
      width: 45%;
    }
    i {
      color: $colorIcons;
      padding-right: 10px;
    }
    button {
      border: none;
    }
    button::-moz-focus-inner {
      border: 0;
    }
    &__coll {
      margin: 0px 0px 20px 0px;
      color: $colorBody;
      text-transform: uppercase;
      cursor: pointer;
      padding: 20px;
      border-bottom: 0.25px solid #d8d8d8;
      text-align: left;
      outline: none;
      font-size: 18px;
      font-family: $fontBody;
      font-weight: 600;
      background-color: transparent;
  
      @include forTablet {
        margin-bottom: 20px;
        padding: 20px 30px 20px 40px;
      }
    }
    &__content {
      padding: 0 18px;
      margin: 0px 20px 0px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
  
      @include forTablet {
        margin: 0px;
        padding: 0px;
      }
    }
  }