.fill-form {
  padding: 0 20px 20px 20px;
  width: 100%;
  text-align: left;

  .fill {
    font-size: 14px;

    label {
      display: block;
      padding-top: 20px;
      padding-bottom: 7px;
      color: $colorPaletteOne1;
    }

    .mandatory {
      color: $colorIcons;
    }

    input {
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 30px;
      padding: 5px;
      border: 1px solid $colorPaletteOne3;
      color: black;

      &:focus {
        outline: none;
      }
    }

    .hidden-field {
      display: none;
    }

    .capture__button {
      width: 65px;
    }

    button {
      width: 140px;
      height: 30px;
      border-radius: 3px;
      background-color: $colorIcons;
      color: white;
      margin-bottom: 10px;
      border-color: transparent;
      outline: none;
    }
    .empty-box {
      width: 28px;
      height: 28px;
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      border: 1px solid $colorPaletteOne3;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      top: 11px;
      right: 9px;
    }

    @include forTablet {
      width: 100%;
    }
  }

  //VALIDATION FORM STYLES

  .hidden {
    display: none;
  }
  
  .input-error {
    color: $colorIcons;
    font-family: 'Open Sans';
    font-size: 11px;
  }

  .errorBorder {
    border: 1px solid $colorIcons !important;
  }
}
