.fill-form {
  padding: 0 20px 20px 20px;
  width: 100%;
  text-align: left;

  .fill {
    font-size: 14px;

    label {
      display: block;
      padding-top: 20px;
      padding-bottom: 7px;
      color: #114e4e;
    }

    .mandatory {
      color: #e25345;
    }

    input {
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 30px;
      padding: 5px;
      border: 1px solid #a2deaf;
      color: black;

      &:focus {
        outline: none;
      }
    }

    .hidden-field {
      display: none;
    }

    .capture__button {
      width: 65px;
    }

    button {
      width: 140px;
      height: 30px;
      border-radius: 3px;
      background-color: $colorIcons;
      color: white;
      margin-bottom: 10px;
      border-color: transparent;
      outline: none;
    }
    .empty-box {
      width: 28px;
      height: 28px;
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      border: 1px solid #a2deaf;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: URL("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/e8afef60261411.5a44784a9dcc3.gif");
      position: relative;
      top: 11px;
      right: 9px;
    }

    @include forTablet {
      width: 100%;
    }
  }

  // ESTILOS DE VALIDACION DEL FORMULARIO
  .input-error {
    color: #e25345;
    font-family: "Open Sans";
    font-size: 11px;
  }

  .errorBorder {
    border: 1px solid #e25345 !important;
  }
}
