@import '../utils/mixins';
@import '../utils/variables';

.page__header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding-left: 35px;
  box-sizing: border-box;
  
  .logo__container {
    width: 245px;
    position: relative;
  
    img {
      width: 100%;
    }
    
  }

  .song {
    padding-right: 35px;

    audio:focus {
      outline: none;
    }
  }

}
