@import '../utils/mixins';
@import '../utils/variables';

.page__header {
  
  display: flex;
  justify-content: start;
  align-items: center;
  height: 120px;
  padding: 0px 0 0 35px;
  box-sizing: border-box;
  
  .logo__container {
    width: 215px;
    position: relative;
  
    img {
      width: 100%;
    }
    
  }
}