@import "../utils/mixins";
@import "../utils/variables";

.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding-left: 35px;
  box-sizing: border-box;

  @include forTablet {
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
  }

  .logo__container {
    width: 245px;
    position: relative;

    img {
      width: 100%;
    }
  }

  //BOTON DARKMODE
  .darkModeContainer {
    input[type="checkbox"] {
      position: relative;
      width: 75px;
      height: 30px;
      -webkit-appearance: none;
      background-color: rgb(245, 245, 245);
      outline: none;
      border-radius: 100px;
      box-shadow: inset 1px 2px 4px 3px rgba(0, 0, 0, 0.4);
      transition: 0.5s;

      @include forTablet {
        transform: translateX(-10px);
      }
    }

    input:checked[type="checkbox"] {
      background: rgb(25, 25, 25);
      box-shadow: inset 1px 2px 4px 3px rgb(2, 2, 2);
    }

    input[type="checkbox"]:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 100px;
      top: 5px;
      left: 6px;
      background-image: url(../../images/light.svg);
      background-repeat: no-repeat;
      background-size: contain;
      transition: 0.5s;
    }

    input:checked[type="checkbox"]:before {
      left: 50px;
      background-image: url(../../images/dark.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .song {
    padding-right: 35px;

    audio:focus {
      outline: none;
    }
  }

}
