.container {
  padding: 0px;
  margin: 0px;
  background: $colorBackgroundImage;

  @include forTablet {
    padding-top: 20px;
    padding-right: 40px;
  }


  .page__home--main {

     @include forTablet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
     }
  }

}
